<div class="listItem">
  <div class="colorBar"></div>
  <div class="listItemContent">
    <div class="listItemHeader">
      <small>Gottesdienst</small>
      <mat-icon (click)="this.showModal = true" >more_horiz</mat-icon>
    </div>
    <p class="title">Name Gottesdienst</p>
    <div class="infoContainer">
      <mat-icon>event</mat-icon>
      <p>09.12.1994</p>
      <p>10:00 Uhr</p>
    </div>
    <div class="infoContainer">
      <mat-icon>pin_drop</mat-icon>
      <p>Kissenbrück</p>
    </div>
  </div>

  <app-modal type="lesson" action="update" (closeModal)="this.showModal = false" *ngIf="showModal"></app-modal>

</div>
