<div class="container">
  <app-nav-bar></app-nav-bar>

  <div class="inputContainer">
    <mat-form-field appearance="fill">
      <mat-label>Frage</mat-label>
      <input autocomplete="off" matInput [(ngModel)]="question">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Antwort</mat-label>
      <textarea rows="5" autocomplete="off" matInput [(ngModel)]="answer"></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Gruppe</mat-label>
      <mat-select [(value)]="group">
        <mat-option *ngFor="let group of groups" [value]="group">
          {{group}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary">Erstellen</button>
  </div>

  <div class="content">

    <div class="listContainer">
      <div class="listHeader">
        <mat-icon *ngIf="hideNewEntries" class="toggleListIcon" (click)="toggleList(0)">expand_more</mat-icon>
        <mat-icon *ngIf="!hideNewEntries" class="toggleListIcon" (click)="toggleList(0)">expand_less</mat-icon>
        <h2>Alle</h2>
        <div></div>
      </div>

      <div class="listContent" [class.hidden]="hideNewEntries">

      </div>

    </div>

    <div class="listContainer">
      <div class="listHeader">
        <mat-icon *ngIf="hideNewEntries" class="toggleListIcon" (click)="toggleList(0)">expand_more</mat-icon>
        <mat-icon *ngIf="!hideNewEntries" class="toggleListIcon" (click)="toggleList(0)">expand_less</mat-icon>
        <h2>Konfirmanden</h2>
        <div></div>
      </div>

      <div class="listContent" [class.hidden]="hideNewEntries">

      </div>

    </div>

  </div>


</div>

