<div class="container">
  <app-nav-bar></app-nav-bar>

  <div class="inputContainer">
    <mat-form-field appearance="fill">
      <mat-label>Frage</mat-label>
      <input autocomplete="off" matInput [(ngModel)]="question">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Antwort</mat-label>
      <textarea rows="5" autocomplete="off" matInput [(ngModel)]="answer"></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Gruppe</mat-label>
      <mat-select [(value)]="group">
        <mat-option *ngFor="let group of groups" [value]="group">
          {{group}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="createFaq()">Erstellen</button>
  </div>

  <div class="content">

    <div class="listContainer">
      <div class="listHeader">
        <mat-icon *ngIf="hideAllList" class="toggleListIcon" (click)="hideAllList = false;hideConfirmandList = true">expand_more</mat-icon>
        <mat-icon *ngIf="!hideAllList" class="toggleListIcon" (click)="hideAllList = true;">expand_less</mat-icon>
        <h2>Alle</h2>
        <div></div>
      </div>

      <ng-container *ngIf="faqsAll | async as faqsAll">
        <div class="listContent" [class.hidden]="hideAllList">
          <app-faq-item [faq]="faq" *ngFor="let faq of faqsAll"></app-faq-item>
        </div>
      </ng-container>


    </div>

    <div class="listContainer">
      <div class="listHeader">
        <mat-icon *ngIf="hideConfirmandList" class="toggleListIcon" (click)="hideConfirmandList = false; hideAllList = true">expand_more</mat-icon>
        <mat-icon *ngIf="!hideConfirmandList" class="toggleListIcon" (click)="hideConfirmandList = true; ">expand_less</mat-icon>
        <h2>Konfirmanden</h2>
        <div></div>
      </div>

      <ng-container *ngIf="faqsConfirmands | async as faqsConfirmands">
        <div class="listContent" [class.hidden]="hideConfirmandList" >
          <app-faq-item [faq]="faq" *ngFor="let faq of faqsConfirmands"></app-faq-item>
        </div>
      </ng-container>


    </div>

  </div>


</div>

