
.inputContainer {
  text-align: center;
  padding: 10px;
  margin: 25px;
  display: flex;
  flex-direction: column;
  max-width: 50%;
  max-height: 45vh;
}

.inputContainer button{
  width: 50%;
  align-self: flex-end;
}

.listContainer{
  max-height: 45vh;
}

.toggleListIcon{
  display: none;
}

.dump{
  display: inline;
}


.listHeader{
  display: flex;
  flex-direction: row;
  justify-content: center;
}


@media only screen and (max-width: 1109px) {

  .listContainer{
    max-height: none;
  }


  .toggleListIcon{
    display: inline;
  }

  .listHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }


  .dump{
    display: none;
  }



  .inputContainer {
    text-align: center;
    padding: 10px;
    margin: 25px;
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 100%;
    max-height: 75vh;
  }


}
