<div class="container">
  <app-nav-bar></app-nav-bar>

  <div class="content">
    <div class="listContainer">
      <div class="listHeader">
        <div class="dump"></div>
        <mat-icon *ngIf="hideNews" class="toggleListIcon" (click)="toggleList(0)">expand_more</mat-icon>
        <mat-icon *ngIf="!hideNews" class="toggleListIcon" (click)="toggleList(0)">expand_less</mat-icon>
        <h2>Neuigkeiten</h2>
        <mat-icon (click)="showNewsModal = true">add</mat-icon>
      </div>

      <ng-container *ngIf="news | async as news">
        <div class="listContent" [class.hidden]="hideNews">
          <app-news-list-item [newsEntry]="newsEntry" *ngFor="let newsEntry of news"></app-news-list-item>
        </div>
      </ng-container>


      <app-modal (createNews)="createNews($event)" action="create" type="news" (closeModal)="showNewsModal = false" *ngIf="showNewsModal"></app-modal>

    </div>


    <div class="listContainer">
      <div class="listHeader">
        <div class="dump"></div>
        <mat-icon *ngIf="hideChurchService" class="toggleListIcon" (click)="toggleList(1)">expand_more</mat-icon>
        <mat-icon *ngIf="!hideChurchService" class="toggleListIcon" (click)="toggleList(1)">expand_less</mat-icon>
        <h2>Gottesdienste</h2>
        <mat-icon (click)="showChurchServiceModal = true">add</mat-icon>
      </div>
      <ng-container *ngIf="appointments | async as appointments">
        <div class="listContent" [class.hidden]="hideChurchService">
          <app-list-item [appointment]="appointment" *ngFor="let appointment of appointments"></app-list-item>
        </div>
      </ng-container>

      <app-modal (createAppointment)="createAppointment($event)" type="event" action="create" (closeModal)="showChurchServiceModal = false" *ngIf="showChurchServiceModal"></app-modal>

    </div>

    <div class="listContainer">
      <div class="listHeader">
        <div class="dump"></div>
        <mat-icon *ngIf="hideLessons" class="toggleListIcon" (click)="toggleList(2)">expand_more</mat-icon>
        <mat-icon *ngIf="!hideLessons" class="toggleListIcon" (click)="toggleList(2)">expand_less</mat-icon>
        <h2>Unterrichtsstunden</h2>
        <mat-icon (click)="showLessonModal = true">add</mat-icon>
      </div>

      <ng-container *ngIf="lessons | async as lessons">
        <div class="listContent" [class.hidden]="hideLessons">
          <app-lesson-item *ngFor="let lesson of lessons" [lesson]="lesson"></app-lesson-item>
        </div>
      </ng-container>


    </div>

    <app-modal (createLesson)="createLesson($event)" type="lesson" action="create" (closeModal)="showLessonModal = false" *ngIf="showLessonModal"></app-modal>
  </div>

</div>
