<div class="container">
  <app-nav-bar></app-nav-bar>

  <div class="content">
    <div class="listContainer">
      <div class="listHeader">
        <mat-icon *ngIf="hideNewEntries" class="toggleListIcon" (click)="toggleList(0)">expand_more</mat-icon>
        <mat-icon *ngIf="!hideNewEntries" class="toggleListIcon" (click)="toggleList(0)">expand_less</mat-icon>
        <h2>Gottesdiensteinträge</h2>
        <div></div>
      </div>

      <ng-container *ngIf="churchEntries | async as churchEntries">
        <div class="listContent" [class.hidden]="hideNewEntries">
          <app-church-entry [churchEntry]="churchEntry" *ngFor="let churchEntry of churchEntries"></app-church-entry>
        </div>
      </ng-container>


    </div>

    <div class="listContainer">

      <div class="listHeader">
        <mat-icon *ngIf="hideCancellations" class="toggleListIcon" (click)="toggleList(1)">expand_more</mat-icon>
        <mat-icon *ngIf="!hideCancellations" class="toggleListIcon" (click)="toggleList(1)">expand_less</mat-icon>
        <h2>Absagen</h2>
        <div></div>
      </div>

      <ng-container *ngIf="cancellations | async as cancellations">
        <div class="listContent" [class.hidden]="hideCancellations">
          <app-cancellation-item [cancellation]="cancellation" *ngFor="let cancellation of cancellations"></app-cancellation-item>
        </div>
      </ng-container>

    </div>

  </div>
</div>
