<div class="newsItem">
  <mat-icon (click)="this.showModal = true">more_horiz</mat-icon>
  <img *ngIf="newsEntry.imgPath" class="newsImg" src="{{newsEntry.imgPath}}" alt="newsImg">
  <div *ngIf="!newsEntry.imgPath" class="noImgContainer"></div>
  <div class="newsContent">
    <h4>{{newsEntry.title}}</h4>
    <p>{{newsEntry.subTitle}}</p>
    <p>{{newsEntry.text}}</p>
  </div>

  <app-modal (deleteNews)="deleteNews($event)" (updateNews)="updateNews($event)" [news]="newsEntry" type="news" action="update" (closeModal)="this.showModal = false" *ngIf="showModal"></app-modal>
</div>
