.newsItem {
  position: relative;
  margin: 15px;
  background-color: var(--main-white);
  border-radius: 15px;
}

.noImgContainer{
  width: 100%;
  height: 50px;
}

.newsItem mat-icon {
  position: absolute;
  top: 5px;
  right: 15px;
}

.newsItem mat-icon:hover {
  cursor: pointer;
}

.newsImg {
  padding: 5px;
  width: 40%;
}

.newsContent {
  padding: 15px 25px;
  text-align: justify;
}
