.newsItem {
  position: relative;
  margin: 15px;
  padding: 10px;
  background-color: var(--main-white);
  border-radius: 15px;
}

.newsItem mat-icon {
  position: absolute;
  top: 5px;
  right: 15px;
}

.newsItem mat-icon:hover {
  cursor: pointer;
}

.newsImg {
  width: 40%;
}

.newsContent {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background: rgb(100, 100, 100, 0.8);
  padding: 15px 0;
  color: #EEF1EF;
}
