<div class="navBarContainer">

  <a routerLink="/home" class="logoContainer">
    <img class="logo" src="assets/logo.jpg" alt="logo">
    <h2 class="logoHeadline"><span class="logoSubHeadline">Ev.-luth. Dreifaltigkeitsgemeinde</span><br> Kissenbrück-Biewende</h2>
  </a>
  <div class="navLinks">
    <a routerLink="/confirmand">
      Konfirmanden
    </a>

    <a routerLink="/faq">
      FAQs
    </a>

    <a routerLink="/notifications">
      Mitteilungen
    </a>

    <a routerLink="/questions">
      Fragen
    </a>


    <a routerLink="/toDoLists">
      To-Do Listen
    </a>

    <a (click)="logout()" routerLink="/login">
      Logout
    </a>

  </div>

</div>
