<div class="listItem">
  <div class="colorBar" [style.background-color]="bgColor"></div>
  <div class="listItemContent">
    <div class="listItemHeader">
      <small>{{appointment.bgColor}}</small>
      <mat-icon (click)="this.showModal = true" >more_horiz</mat-icon>
    </div>
    <p class="title">{{appointment.title}}</p>
    <div class="infoContainer">
      <mat-icon>event</mat-icon>
      <p>{{appointment.time.toDate()| date:"EEEE, dd.MM.YYYY HH:mm" }}</p>
    </div>
    <div class="infoContainer">
      <mat-icon>pin_drop</mat-icon>
      <p>{{appointment.place}}</p>
    </div>
  </div>

  <app-modal (deleteAppointment)="deleteAppointment($event)" (updateAppointment)="updateAppointment($event)"  [appointment]="appointment" type="event" action="update" (closeModal)="this.showModal = false" *ngIf="showModal"></app-modal>

</div>
