<div class="listItem">
  <div class="colorBar"></div>
  <div class="listItemContent">
    <div class="listItemHeader">
      <small>Gottesdienst</small>
    </div>
    <p class="title">{{churchEntry.title}}</p>
    <p class="preacherName">{{churchEntry.pastor}}</p>
    <div class="infoContainer">
      <mat-icon>event</mat-icon>
      <p>{{churchEntry.time.toDate()| timestampToDatePipe }}</p>
    </div>
    <div class="infoContainer">
      <mat-icon>pin_drop</mat-icon>
      <p>{{churchEntry.church}}</p>
    </div>
    <div class="buttonBar">
      <button mat-raised-button color="warn" (click)="deny()">Ablehen</button>
      <button mat-raised-button color="primary" (click)="accept()">Annehmen</button>
    </div>
  </div>

</div>
